<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--使用註釋嘅包，包括子集。 -->
	<!--使用組件掃描。掃描指定controller嘅包。 -->
	<context:component-scan base-package="com.demo" />

	<!-- don't handle the static resource -->
	<mvc:default-servlet-handler />
	
	<!-- if you use annotation you must configure following setting -->
	<!--启用基于annotation的handlerMapping -->
	<!--扩充了注解驱动，可以将请求参数绑定到控制器参数 -->
	<!--默認加載好多嘅參數綁定方法，比如json轉換解析器就默認加載了。 -->
	<mvc:annotation-driven />

	
	
	<!-- 視圖解析器。 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>